$primary-color:#162466;
$secondary-color:#FF3B33;
$gray:#F2F5FB;
$gray-two:#F8FAFD;
$gray-dark:rgba(237, 239, 244, 1);
$gray-light:rgba(242, 245, 251, 0.7);
$text-white: #FEFEFE;
$border-color: rgba(88, 136, 247, 0.1);
$shadow-color: rgba(4, 75, 194, 0.1); 
