@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #162466;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  line-height: 125%;
  font-weight: 700;
}

h2 {
  font-size: 2.438rem;
  font-weight: 600;
}

h3 {
  font-size: 1.563rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
}

a,
a:visited {
  color: #162466;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background: #FF3B33;
  color: #FEFEFE !important;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  box-shadow: 0px 2px 26px rgba(22, 36, 102, 0.25);
  cursor: pointer;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.btn.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.btn-icon i {
  margin-right: 5px;
  font-size: 20px;
}

@media (max-width: 576px) {
  .btn.btn-icon i {
    font-size: 1rem;
  }
}

.btn.btn-secondary {
  background: #162466;
}

.btn.btn-secondary:hover {
  background: #FF3B33;
}

.btn:hover {
  background: #162466;
}

@media (max-width: 576px) {
  .btn {
    font-size: 0.875rem;
  }
}

.container {
  padding: 0 7%;
  margin: 0 auto;
}

section {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  max-width: 100vw;
}

.section-title {
  text-align: center;
  width: 627px;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10.5rem;
  width: 95%;
  background: linear-gradient(0deg, rgba(22, 36, 102, 0.9), rgba(22, 36, 102, 0.9)), url("../images/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #FEFEFE;
  border-radius: 0 0 200px 0;
  -webkit-border-radius: 0 0 200px 0;
  -moz-border-radius: 0 0 200px 0;
  -ms-border-radius: 0 0 200px 0;
  -o-border-radius: 0 0 200px 0;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .page-title {
    height: 5.5rem;
  }

  .page-title h1 {
    height: 2.5rem;
  }
}

@media (max-width: 992px) {
  .page-title {
    height: 7.5rem;
  }

  .page-title h1 {
    height: 2.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 3%;
  }

  .section {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }

  .section-title {
    width: 70%;
    margin-bottom: 1.2rem;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 5%;
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section-title {
    width: 70%;
    margin-bottom: 1.2rem;
  }
}

header {
  padding-top: 17px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: #F2F5FB;
  height: 80px;
}

header #menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  header #menu-wrapper .btn-icon {
    display: none;
  }
}

header .logo {
  height: 50px;
  width: 140px;
  cursor: pointer;
}

header .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

header .logo img:hover {
  opacity: 0.8;
}

header #mainMenu {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  z-index: 99999;
  margin-right: -236px;
}

header #mainMenu li {
  position: relative;
  font-weight: 500;
}

header #mainMenu li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #FF3B33;
  bottom: -3px;
  left: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

@media (max-width: 992px) {
  header #mainMenu li::after {
    height: 0;
  }
}

header #mainMenu li:hover::after {
  width: 100%;
}

header #mainMenu li ul {
  position: absolute;
  left: 0;
  top: 28px;
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: #F2F5FB;
  display: none;
}

header #mainMenu li ul li {
  width: 100%;
  padding: 10px 12px;
  border-top: 1px solid #F2F5FB;
}

header #mainMenu li ul li:first-child {
  border-top: none;
}

@media (max-width: 992px) {
  header #mainMenu li ul {
    position: relative;
    width: max-content;
    margin-bottom: 1.5rem;
  }

  header #mainMenu li ul li {
    width: 100%;
    background-color: #F8FAFD;
  }
}

header #mainMenu li:focus-within>ul,
header #mainMenu li:focus>ul,
header #mainMenu li:hover>ul {
  display: block;
}

@media (max-width: 1280px) {
  header #mainMenu {
    margin-right: 0px;
  }
}

@media (max-width: 992px) {
  header #mainMenu {
    margin-right: 0;
    flex-flow: column;
    position: absolute;
    align-items: center;
    top: 80px;
    right: -1999px;
    background: #F2F5FB;
    padding: 1rem;
    width: 70vw;
    height: min-content;
    border: 1px solid #edeff4;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }

  header #mainMenu.open {
    right: 0;
  }

  header #mainMenu li {
    width: 100%;
  }
}

header #menu-icon {
  color: #162466;
  font-size: 2rem;
  z-index: 11111;
  cursor: pointer;
  display: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

@media (max-width: 992px) {
  header #menu-icon {
    display: block;
  }
}

header.downscroll {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#hero {
  background: #F2F5FB;
  padding: 24px;
  margin-top: 80px;
}

#hero .hero-wrapper {
  display: flex;
  align-items: center;
}

#hero .hero-wrapper .hero-left {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

#hero .hero-wrapper .hero-left p {
  word-wrap: break-word;
}

#hero .hero-wrapper .hero-left h1 span {
  color: #FF3B33;
}

#hero .hero-wrapper .hero-left .hero-buttons {
  margin-top: 6px;
  display: flex;
  gap: 18px;
}

@media (max-width: 992px) {
  #hero .hero-wrapper {
    flex-wrap: wrap;
    margin-top: 3.2rem;
    align-items: center;
  }

  #hero .hero-wrapper .hero-left {
    width: 100vw;
    align-items: center;
    text-align: center;
  }

  #hero .hero-wrapper .hero-right {
    display: flex;
  }
}

@media (max-width: 576px) {
  #hero .hero-wrapper .hero-right img {
    width: 300px;
    margin-left: 1rem;
  }
}

@media (max-width: 992px) {
  #hero {
    flex-wrap: wrap;
  }
}

#services {
  background-color: #F8FAFD;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
}

#services .service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#services .service-cards .service-card {
  width: 425px;
  height: 350px;
  background-color: #fff;
  border: 1px solid rgba(88, 136, 247, 0.1);
  box-shadow: 0px 10px 50px rgba(4, 75, 194, 0.1);
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
}

#services .service-cards .service-card i {
  font-size: 3rem;
  color: #FF3B33;
}

#services .service-cards .service-card a {
  color: #FF3B33;
  text-decoration: underline;
  margin-top: 20px;
}

#services .service-cards .service-card:hover {
  background-color: #162466;
  color: #FEFEFE;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

#services .service-cards .service-card:hover i,
#services .service-cards .service-card:hover a {
  color: #FEFEFE;
}

#about-section {
  background-image: url("../images/about-dotted-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto;
}

#about-section .about-section-wrapper {
  display: flex;
  gap: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 768px) {
  #about-section .about-section-wrapper {
    flex-wrap: wrap;
  }
}

#about-section .about-section-wrapper .about-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#about-section .about-section-wrapper .about-section-left h3 {
  gap: 0px;
  color: #FF3B33;
  position: relative;
  padding-left: 35px;
  margin-top: -30px;
}

#about-section .about-section-wrapper .about-section-left h3::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: #FF3B33;
}

@media (max-width: 576px) {
  #about-section .about-section-wrapper .about-section-right img {
    width: 270px;
    height: 200px;
  }
}

#about-secondary {
  position: relative;
  padding-bottom: 7rem;
}

#about-secondary .aboutsec-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #about-secondary .aboutsec-wrapper {
    flex-wrap: wrap;
  }
}

#about-secondary .aboutsec-wrapper .aboutsec-left {
  flex-basis: 40%;
}

#about-secondary .aboutsec-wrapper .aboutsec-left h3 {
  margin-bottom: 13px;
}

@media (max-width: 768px) {
  #about-secondary .aboutsec-wrapper .aboutsec-left {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
}

#about-secondary .aboutsec-wrapper .aboutsec-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-secondary .aboutsec-wrapper .aboutsec-right .counter {
  display: flex;
  height: 171px;
  background-color: #FF3B33;
  padding: 3.25rem 1.313rem;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  color: #FEFEFE;
  justify-content: space-between;
}

#about-secondary .aboutsec-wrapper .aboutsec-right .counter .counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 32px;
}

#about-secondary .aboutsec-wrapper .aboutsec-right .counter .counter-item:last-child {
  margin-right: 0;
}

#about-secondary .aboutsec-wrapper .aboutsec-right .counter .counter-item .count-num {
  display: flex;
}

@media (max-width: 576px) {
  #about-secondary .aboutsec-wrapper .aboutsec-right .counter .counter-item {
    flex-basis: 40%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  #about-secondary .aboutsec-wrapper .aboutsec-right .counter {
    padding: 1.7rem 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  #about-secondary .aboutsec-wrapper {
    display: block;
  }
}

#about-secondary .circle {
  position: absolute;
  top: 27%;
  right: 40%;
  background: #F2F5FB;
  border-radius: 50%;
  margin: 10px;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 0 0 #edeff4;
  transform: scale(1);
  animation: pulse 5s infinite;
  z-index: -1;
  -webkit-animation: pulse 5s infinite;
}

@media (max-width: 768px) {
  #about-secondary .circle {
    top: 27%;
    left: 5%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(110, 107, 107, 0.7);
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(143, 142, 142, 0);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(169, 168, 168, 0);
  }
}

#cta {
  background: linear-gradient(0deg, rgba(22, 36, 102, 0.9), rgba(22, 36, 102, 0.9)), url("../images/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #FEFEFE;
  padding-top: 70px;
  padding-bottom: 70px;
}

#cta .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cta p {
  margin-top: 12px;
  font-size: 1.25rem;
}

#cta .btn {
  margin-top: 30px;
}

#project {
  background-color: #F2F5FB;
  text-align: center;
}

#project .project-wrapper {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-content: space-between;
  gap: 1.875rem;
  margin-bottom: 2rem;
}

#project .project-wrapper .proje-item {
  width: 370px;
  height: 305px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
  border: 1px solid rgba(88, 136, 247, 0.1);
  box-shadow: 0px 10px 50px rgba(4, 75, 194, 0.1);
}

#project .project-wrapper .proje-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#project .project-wrapper .proje-item .proje-desc {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(22, 36, 102, 0.8);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 82px;
  gap: 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  visibility: hidden;
}

#project .project-wrapper .proje-item .proje-desc h3 {
  font-size: 1.25rem;
  text-transform: capitalize;
}

#project .project-wrapper .proje-item .proje-desc h4 {
  font-size: 1rem;
  color: #FF3B33;
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

@media (max-width: 576px) {
  #project .project-wrapper .proje-item .proje-desc {
    padding: 1rem;
  }
}

#project .project-wrapper .proje-item:hover .proje-desc {
  visibility: visible;
}

@media (max-width: 1200px) {
  #project .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  #project .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #project .project-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  #project .project-wrapper .proje-item {
    width: 270px;
    height: 205px;
  }
}

@media (max-width: 576px) {
  #project .project-wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  #project .project-wrapper .proje-item {
    width: 270px;
    height: 205px;
  }
}

#blog {
  background-image: url("../images/bg-blog.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
  padding-bottom: 5.75rem;
}

#blog .blog-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#blog .blog-title h3 {
  gap: 0px;
  color: #FF3B33;
  position: relative;
  padding-left: 35px;
  margin-top: -30px;
  font-size: 1.25rem;
  font-weight: 500;
}

#blog .blog-title h3::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 2px;
  width: 30px;
  background-color: #FF3B33;
}

#blog .swiper {
  width: 100%;
  height: 100%;
}

#blog .blog-wrapper {
  min-height: 100vh;
  display: flex;
  justify-self: center;
  align-items: center;
}

#blog .blog-content {
  display: flex;
  margin-top: 3.125rem;
  margin-bottom: 3.75rem;
}

#blog .blog-content .blog-card {
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  background-color: #fff;
  border: 1px solid rgba(88, 136, 247, 0.1);
  box-shadow: 0px 10px 50px rgba(4, 75, 194, 0.1);
}

#blog .blog-content .blog-card .blogcard-pic {
  width: 100%;
  height: 150px;
  border-radius: 14px 14px 0px 0px;
  -webkit-border-radius: 14px 14px 0px 0px;
  -moz-border-radius: 14px 14px 0px 0px;
  -ms-border-radius: 14px 14px 0px 0px;
  -o-border-radius: 14px 14px 0px 0px;
}

#blog .blog-content .blog-card .blogcard-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
  -webkit-border-radius: 14px 14px 0px 0px;
  -moz-border-radius: 14px 14px 0px 0px;
  -ms-border-radius: 14px 14px 0px 0px;
  -o-border-radius: 14px 14px 0px 0px;
}

#blog .blog-content .blog-card .blogcard-content {
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
}

#blog .blog-content .blog-card .blogcard-h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 14px;
}

#blog .blog-content .blog-card .blogcard-body p {
  margin-bottom: 20px;
}

#blog .blog-content .blog-card .blogcard-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

#blog .blog-content .blog-card .blogcard-footer span,
#blog .blog-content .blog-card .blogcard-footer span a {
  color: rgba(22, 36, 102, 0.6);
}

@media (max-width: 576px) {

  #blog .blog-content .blog-card .blogcard-footer span,
  #blog .blog-content .blog-card .blogcard-footer span a {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {

  #blog .blog-content .blog-card .blogcard-footer span,
  #blog .blog-content .blog-card .blogcard-footer span a {
    font-size: 12px;
  }
}

#blog .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

#blog .swiper-pagination-bullet-active {
  background: #162466;
}

#about-page {
  margin-top: 1.2rem;
  margin-bottom: 3.75rem;
}

#about-page .about-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-top: 2rem;
}

#about-page .about-content .first-contentAbout {
  display: flex;
  gap: 2.3rem;
  align-items: center;
}

@media (max-width: 992px) {
  #about-page .about-content .first-contentAbout {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

#about-page .about-content .first-contentAbout .about-left {
  flex-basis: 30%;
}

#about-page .about-content .first-contentAbout .about-left .about-image {
  width: 450px;
  height: 400px;
}

@media (max-width: 992px) {
  #about-page .about-content .first-contentAbout .about-left .about-image {
    width: 350px;
    height: 300px;
  }
}

#about-page .about-content .first-contentAbout .about-left .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#about-page .about-content .second-contentAbout {
  display: flex;
  background-image: url("../images/about-dotted-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: auto;
  padding: 0 3%;
  justify-content: space-between;
  gap: 3rem;
}

@media (max-width: 768px) {
  #about-page .about-content .second-contentAbout {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

#about-page .about-content .second-contentAbout h3 {
  margin-bottom: 2rem;
}

#about-page .about-content .second-contentAbout .left-aboutcontent {
  flex-basis: 50%;
  background-color: #F2F5FB;
  padding: 1rem;
}

#about-page .about-content .second-contentAbout .right-aboutcontent {
  flex-basis: 50%;
  background-color: #F2F5FB;
  padding: 1rem;
}

#team {
  margin-top: 40px;
  min-height: 100vh;
  background-color: #F8FAFD;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#team .team-wrapper {
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#team .page-title {
  margin-top: -20px;
}

#team .card {
  margin: 1.25rem;
  padding: 0.5rem;
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(4, 75, 194, 0.1);
  border: 1px solid rgba(88, 136, 247, 0.1);
}

#team .card img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#team .card .card-info {
  padding: 15px 0 7px;
  text-align: center;
}

#team .card .card-info h6 {
  margin-bottom: 6px;
  font-size: 1rem;
  font-size: 600;
  text-transform: capitalize;
}

#team .card .card-info span {
  margin-bottom: 5px;
  font-size: 13px;
}

#team .card .card-info a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #162466;
  background-color: rgba(88, 136, 247, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 8px 2px 0;
  font-size: 1.1rem;
  line-height: 30px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#team .card .card-info a:hover {
  background-color: #162466;
  color: #FEFEFE;
}

#career {
  margin-top: 20px;
  min-height: 100vh;
  background-color: #F8FAFD;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#career .career-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

#career .career-wrapper .career-jobs {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
  flex-basis: 30%;
}

#career .career-wrapper .career-jobs .accordion-title {
  display: block;
  background: #162466;
  color: #FEFEFE;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  padding: 18px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#career .career-wrapper .career-jobs .accordion-title.active,
#career .career-wrapper .career-jobs .accordion-title.accordion-title:hover {
  background: #FF3B33;
}

#career .career-wrapper .career-jobs .panel {
  padding: 1.2rem 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

#career .career-wrapper .career-apply {
  flex: 1;
  flex-basis: 60%;
}

#career .career-wrapper .career-apply form {
  padding: 1.25rem;
  background: #fff;
}

#career .career-wrapper .career-apply form .form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 0, 625rem;
  padding: 0.7rem;
}

#career .career-wrapper .career-apply form .form-group label {
  font-weight: 600;
  margin-bottom: 10px;
}

#career .career-wrapper .career-apply form .form-group input {
  width: 100%;
  color: #162466;
  background: #F8FAFD;
  padding: 0.6rem;
  border: 1px solid rgba(88, 136, 247, 0.1);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#career .career-wrapper .career-apply form .form-group input::file-selector-button {
  font-weight: 500;
  color: #FEFEFE;
  background-color: #162466;
  padding: 0.5em 0.7rem;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

#career .career-wrapper .career-apply form .form-group textarea {
  width: 100%;
  background: #F8FAFD;
  resize: none;
  padding: 0.6rem;
  color: #162466;
}

.singlePage-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 1rem;
}

.singlePage-wrapper .singlePage-content {
  flex: 1;
  flex-basis: 70%;
  padding-right: 4rem;
  border-right: 1px solid #edeff4;
}

.singlePage-wrapper .singlePage-content h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.singlePage-wrapper .singlePage-content p {
  line-height: 175%;
}

.singlePage-wrapper .singlePage-sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5.5rem;
  flex: 1;
}

@media (max-width: 768px) {
  .singlePage-wrapper .singlePage-sidebar {
    flex-direction: column-reverse;
  }
}

.singlePage-wrapper .singlePage-sidebar .sidebar-content {
  padding-left: 14px;
}

.singlePage-wrapper .singlePage-sidebar .sidebar-title {
  position: relative;
  margin-bottom: 1.2rem;
}

.singlePage-wrapper .singlePage-sidebar .sidebar-title span {
  margin-bottom: 1.1rem;
  background-color: #162466;
  padding: 6px 12px;
  color: #FEFEFE;
  font-weight: 400;
  font-size: 18px;
}

.singlePage-wrapper .singlePage-sidebar .sidebar-title .sidebar-line {
  margin-top: 0.3rem;
  width: 100%;
  height: 2px;
  background-color: #162466;
}

.singlePage-wrapper .singlePage-sidebar .sidebar-item img {
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

#contact {
  min-height: 100vh;
}

#contact .contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

#contact .contact-wrapper .contact-left {
  flex: 1;
  flex-basis: 50%;
}

#contact .contact-wrapper .contact-left h2 {
  margin-bottom: 1rem;
}

#contact .contact-wrapper .contact-left span {
  margin-bottom: 1rem;
}

#contact .contact-wrapper .contact-icons {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-top: 2rem;
}

#contact .contact-wrapper .contact-icons .ico-group {
  display: flex;
  gap: 1.2rem;
}

#contact .contact-wrapper .contact-icons .ico-group i {
  background-color: #F8FAFD;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 1.8rem;
  line-height: 50px;
  text-align: center;
}

#contact .contact-wrapper .contact-icons .ico-group .adress-info {
  display: flex;
  flex-direction: column;
}

#contact .contact-right {
  flex: 1;
  flex-basis: 50%;
}

#contact .contact-form {
  flex: 1;
  margin-top: 4rem;
}

#contact .contact-form form {
  padding: 1.25rem;
  background: #F8FAFD;
  border: 1px solid rgba(88, 136, 247, 0.1);
}

#contact .contact-form form .form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 0, 625rem;
  padding: 0.7rem;
}

#contact .contact-form form .form-group label {
  font-weight: 600;
  margin-bottom: 10px;
}

#contact .contact-form form .form-group input {
  width: 100%;
  color: #162466;
  background: #FEFEFE;
  padding: 0.6rem;
  border: 1px solid rgba(88, 136, 247, 0.1);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#contact .contact-form form .form-group textarea {
  width: 100%;
  background: #FEFEFE;
  resize: none;
  padding: 0.6rem;
  color: #162466;
}

#blog-page {
  min-height: 100vh;
  margin-top: 20px;
  background-color: #F8FAFD;
}

#blog-page .blog-wrapper {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

#blog-page .blog-wrapper .blog-post {
  flex-basis: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  background-color: #fff;
  border: 1px solid rgba(88, 136, 247, 0.1);
  box-shadow: 0px 10px 50px rgba(4, 75, 194, 0.1);
}

#blog-page .blog-wrapper .blog-post .blogpost-pic {
  width: 100%;
  height: 150px;
  border-radius: 14px 14px 0px 0px;
  -webkit-border-radius: 14px 14px 0px 0px;
  -moz-border-radius: 14px 14px 0px 0px;
  -ms-border-radius: 14px 14px 0px 0px;
  -o-border-radius: 14px 14px 0px 0px;
}

#blog-page .blog-wrapper .blog-post .blogpost-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 14px 0px 0px;
  -webkit-border-radius: 14px 14px 0px 0px;
  -moz-border-radius: 14px 14px 0px 0px;
  -ms-border-radius: 14px 14px 0px 0px;
  -o-border-radius: 14px 14px 0px 0px;
}

#blog-page .blog-wrapper .blog-post .blogpost-content {
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
}

#blog-page .blog-wrapper .blog-post .blogpost-h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 14px;
}

#blog-page .blog-wrapper .blog-post .blogpost-body p {
  margin-bottom: 20px;
}

#blog-page .blog-wrapper .blog-post .blogpost-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

#blog-page .blog-wrapper .blog-post .blogpost-footer span,
#blog-page .blog-wrapper .blog-post .blogpost-footer span a {
  font-size: 12px;
  color: rgba(22, 36, 102, 0.6);
}

@media (max-width: 576px) {

  #blog-page .blog-wrapper .blog-post .blogpost-footer span,
  #blog-page .blog-wrapper .blog-post .blogpost-footer span a {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {

  #blog-page .blog-wrapper .blog-post .blogpost-footer span,
  #blog-page .blog-wrapper .blog-post .blogpost-footer span a {
    font-size: 12px;
  }
}

#blog-page .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 0.5rem;
}

#blog-page .pagination .page-number {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #edeff4;
  line-height: 30px;
  text-align: center;
}

#blog-page .pagination i {
  font-size: 1.2rem;
  color: #162466;
}

#blog-page .pagination .active {
  background-color: #FEFEFE;
  border: 1px solid rgba(88, 136, 247, 0.1);
}

.brand-wrapper {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-wrapper .brandPage-title {
  text-align: center;
  margin-bottom: 4rem;
}

.brand-wrapper .brandPage-title h2 {
  margin-bottom: 2rem;
}

.brand-wrapper .brandPage-title .portfolio-tic {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.brand-wrapper .brandPage-title .portfolio-tic a {
  font-size: 1rem;
  font-weight: 500;
}

.brand-wrapper .brandPage-title .portfolio-tic a.active,
.brand-wrapper .brandPage-title .portfolio-tic a:hover {
  background-color: #FF3B33;
  color: #FEFEFE;
  padding: 0.4rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.brand-wrapper .brandPage-title .portfolio-tic a {
  color: #162466;
}

.brand-wrapper .brands {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.brand-wrapper .brands .brand-card {
  padding: 1rem;
  background-color: #F2F5FB;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  border: 1px solid rgba(88, 136, 247, 0.1);
}

.brand-wrapper .brands .brand-card .brand-info {
  text-align: center;
  margin: 0.5rem 0;
}

.brand-wrapper .brands .brand-card .brand-info h6 {
  font-size: 1rem;
}

.brand-wrapper .brands .brand-card .brand-info span {
  font-size: 0.8rem;
}

.brand-wrapper .brands .brand-card:hover {
  background-color: #FEFEFE;
  box-shadow: 0px 10px 50px rgba(4, 75, 194, 0.1);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.brand-wrapper .brands .brand-card:hover img {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.brand-wrapper .brands .brand-card.hide {
  display: none;
}

.brand-wrapper .brands .brand-card.show {
  display: block;
}

@media (max-width: 992px) {
  .brand-wrapper .brands {
    justify-content: center;
  }
}

footer {
  background-color: #F2F5FB;
  color: #162466;
}

footer a {
  color: #162466 !important;
  display: block;
  margin-bottom: 7px;
}

footer a:hover {
  opacity: 0.5;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 0;
}

footer .footer-top .footer-group:first-child,
footer .footer-top .footer-group:last-child {
  width: 270px;
}

footer .footer-top .footer-social {
  display: flex;
  gap: 1.2rem;
  margin-top: 1.2rem;
}

footer .footer-top .footer-social i {
  font-size: 1.25rem;
}

footer .footer-top .footer-social i:hover {
  color: #FF3B33;
}

footer .footer-top .footer-group h3 {
  position: relative;
  margin-bottom: 18px;
}

footer .footer-top .footer-group h3::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #FF3B33;
  width: 90%;
  bottom: 0;
  left: 0;
}

footer .footer-top .footer-group .footer-links i {
  margin-right: 12px;
  font-size: 1.1rem;
}

@media (max-width: 992px) {
  footer .footer-top {
    flex-wrap: wrap;
    padding: 35px 20px;
    justify-content: start;
  }

  footer .footer-top .footer-group {
    width: 50%;
    margin-bottom: 2rem;
  }

  footer .footer-top .footer-group:first-child {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  footer .footer-top .footer-group {
    width: 50%;
    margin-bottom: 2rem;
  }
}

footer .footer-bottom {
  text-align: center;
  background: #F2F5FB;
  color: #162466;
  padding: 8px 0;
}

/*# sourceMappingURL=style.css.map */